<h1 class="account_name">マップページ</h1>
このページは投稿されたラーメン屋さんがピン留めされていて情報を見ることができます。
<div id="map_canvas" style="width:80%; height:500px;"></div>

<script>
var map;
var marker = [];
var infoWindow = [];
// マーカーに設定するタイトル・緯度・経度・内容
var markerData = [ {
    title: '壱発ラーメン',
    lat: 35.567675,
    lng: 139.361022,
    content: '壱発ラーメン 相模原店<br><img src="./ippatsu.png" width="200"><br><a href="http://ippatsu.co.jp/" target="_blank">公式サイトはコチラ！</a>'
  }, {
    title: 'ラーメン豚山 大塚店',
    lat: 35.733084,
    lng: 139.727874,
    content: 'ラーメン豚山 大塚店<br><img src="https://image-ramen-app-main.s3-ap-northeast-1.amazonaws.com/uploads/member/post/image/9/%E8%B1%9A%E5%B1%B1.jpg" width="200"><br><a href="https://ramen-app-main.herokuapp.com/member/posts/9" target="_blank">投稿ページへ</a>'
  } , {
    title: '濃厚豚骨らーめん 吉春家',
    lat: 35.732981,
    lng: 139.727423,
    content: '濃厚豚骨らーめん 吉春家<br><img src="https://image-ramen-app-main.s3-ap-northeast-1.amazonaws.com/uploads/member/post/image/18/%E5%90%89%E6%98%A5%E5%B1%8B.JPG" width="200"><br><a href="https://ramen-app-main.herokuapp.com/member/posts/18" target="_blank">投稿ページへ</a>'
  } ];	

  function initMap() {
    // 緯度経度のデータ作成
    var mapLatLng = new google.maps.LatLng({lat: 35.732981, lng: 139.727423});
    // 地図の基本設定
    map = new google.maps.Map(document.getElementById('map_canvas'), {
      center: mapLatLng, // 地図の中心座標を指定
      zoom: 18, // 地図のデフォルトのズーム指定
      mapTypeId: google.maps.MapTypeId.ROADMAP // マップの表示種別選択 (ROADMAP・SATELLITE・TERRAIN・HYBRIDから選択)
    });
    
    // マーカー毎の処理
    for (var i = 0; i < markerData.length; i++) {
      // 緯度経度のデータを作成
      markerLatLng = new google.maps.LatLng({lat: markerData[i]['lat'], lng: markerData[i]['lng']});
      marker[i] = new google.maps.Marker({
        position: markerLatLng, // マーカーを立てる位置を指定
        map: map, // マーカーを立てる地図を指定
        title: markerData[i]['title'] // ツールヒント
      });
      
      // 吹き出しの設定
      infoWindow[i] = new google.maps.InfoWindow({
        // 吹き出しに表示する内容を設定する
        content: markerData[i]['content']
      });
      
      // マーカーにクリックイベントを追加
      markerEvent(i);
    }
  }
   
  // マーカーにクリックイベントを追加
  function markerEvent(i) {
      marker[i].addListener('click', function() {
        // 吹き出しの表示
        infoWindow[i].open(map, marker[i]);
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfCmlyL2lyPkB-fTxtmVP_q0VEpEtGXW4&language=ja&region=JP&callback=initMap" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
# <script src="../../../javascript/packs/map.js"></script>
<%= render "common/footer" %>
